.checkListTable{
    border: 1px solid black;

}
.tablecheck{ 
    height: 350px;
    width: 420px;
    margin: 10px auto;

}

form>button{
    float: right;
    margin-right: 90px;
}

th,td{
    border: 1px solid black;
    padding: 4px 10px;
}

td{
    width: 20px;
}

.questionsTh{
    width: 320px;
}

.description{
    margin-top: 400px;
    margin-left: 20%;
    padding: 20px 20px;
}