<div class="page">
    <div class="heder">
        <nav class="navbar navbar-dark bg-dark">
            <a routerLink="/home/tablesdb" class="navbar-brand">Таблицы бд</a>
            <a routerLink="/home/textAnalysisComponent" class="navbar-brand">Объяснительная</a>
            <a routerLink="/home/checkList" class="navbar-brand">Проверки</a>
            <button (click)="logout()">Выйти</button>
        </nav>
    </div>

    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>