.heder{
 margin: 0 20px;
}
.navbar{
    border-radius: 10px;
}

.content{
    background-color: rgba(236, 240, 183, 0.822);
    padding: 10px;
    overflow: auto;
    margin: 0px 20px;
    margin-top: 10px;
    min-height: 350px;
    border-radius: 10px;
}
.page{
    margin: 10px;
    overflow: auto;
    
}